{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "loose": true,
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-object-assign",
        "@babel/plugin-proposal-class-properties",
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "h"
            }
        ]
    ],
    "ignore": [
        "**/*.test.js"
    ]
}